input {
    font-family: 'Poppins';
    border: none;
    background: var(--blackGradient);
    color: var(--mainFontColor);
    box-shadow: var(--boxShadow);
    padding: 0.5rem;
    border-radius: 2.5rem;
    outline: none;
}

input:hover {
    box-shadow: var(--inputHoverBoxShadow);
}

input:focus {
    color: var(--inputFocus);
}

input::placeholder {
    color: var(--placeHolderFontColor);
}