.password {
    font-family: 'Poppins';
    border: none;
    background: var(--blackGradient);
    color: var(--mainFontColor);
    box-shadow: var(--boxShadow);
    padding: 0.5rem;
    border-radius: 0.8rem;
    outline: none;
}

.password:hover {
    box-shadow: var(--inputHoverBoxShadow);
}

.password:focus {
    border: 1px solid skyblue;
}

.password::placeholder {
    color: var(--placeHolderFontColor);
}

label {
    position: relative;
}

.eye-button {
    border: none;
    background: none;
    position: absolute;
    right: 10px;
}
