.cancel {
  align-items: center;
  border: 1px solid;
  border-color: #eb5e28;
  border-radius: 40px;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 15px 8px;
  position: relative;
  width: 268px;
}

.cancel .text-wrapper {
  color: #eb5e28;
  font-family: "Poppins", Helvetica;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}
