.orders-manage-card {
  display: flex;
  flex-direction: row;
  background-color: var(--mainBackgroundColor);
  border-radius: 40px;
  box-shadow: 0px 4px 4px #00000040;
  margin: 1rem;
  width: 95%;
  height: 18rem;
}
.product-info-order {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 1rem;
    width: 100%;
}
.button-wrapper {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1rem;
    position: relative;
}

.buyer-info-wrapper {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    margin-left: 0;
    position: relative;
}


.main-info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-info-wrapper > h2 {
    font-family: "Poppins-ExtraBold", Helvetica;
    font-size: 32px;
    font-weight: 800;
    line-height: normal;
}
.main-info-wrapper > .price {
    font-family: "Poppins-ExtraBold", Helvetica;
    font-size: 32px;
    font-weight: 800;
    line-height: normal;
}

.product-img {
  width: 18rem;
  max-width: 15rem;
  border-radius: 40px;
  margin: 1rem;
}
.button-wrapper > p {
    font-family: "Poppins-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    color: var(--mainTextColor);
    align-self: flex-start;
    position: absolute;
    top: -15px;
    left: -10px;
    color: var(--placeHolderFontColor);

}

.product-description {
    text-align: left;
    min-height: 50px;
}