.footer {
    font-size: 0.8rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    bottom: 1rem;
}

.footer a  {
    background-color: rgb(90, 90, 90);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .3s;
}

.footer a:hover {
    background-color: rgb(60, 60, 60);
    width: 30px;
    height: 30px;
}