.edit-user-main {
  display: flex;
  margin-bottom: 4rem;
  margin-top: 2rem;

}
.edit-info-container {
  background-color: var(--secondryBackgroundColor);
  border-radius: 40px;
  box-shadow: var(--boxShadow);
  width: 55%;
}

.edit-info-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  justify-content: space-between;
}

#bio.textArea {
 width: 38rem;
}

.edit-addAvatar {
  border: none;
  outline: none;
  background: var(--blackGradient);
  color: var(--mainFontColor);
  box-shadow: var(--boxShadow);
  padding: 1rem;
  border-radius: 2.5rem;
}

.edit-addAvatar:hover {
  box-shadow: var(--inputHoverBoxShadow);
}

.edit-addAvatar:focus {
  color: var(--inputFocus);
}

.edit-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content:end;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
}

.edit-user-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}