.edit-user-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78vh;
  width: 100%;
  margin-bottom: 0;

}


.edit-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blackGradient);
  border-radius: 40px;
  box-shadow: var(--boxShadow);
  width: 80%;
  height: 100%;
}

.edit-info-form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 1rem;
}

.text-area-edit-profile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 53rem;
}

.general-input-edit {
  width: 30rem;
}

.edit-password {
  width: 22rem;
}

.edit-addAvatar {
  width: 22rem;
}

.edit-addAvatar {
  border: none;
  outline: none;
  background: var(--blackGradient);
  color: var(--mainFontColor);
  box-shadow: var(--boxShadow);
  padding: 1rem;
  border-radius: 2.5rem;
}

.edit-addAvatar:hover {
  box-shadow: var(--inputHoverBoxShadow);
}

.edit-addAvatar:focus {
  color: var(--inputFocus);
}

.edit-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content:end;
  align-items: center;
  width: 100%;
}